.pagelayout
{
    width:1300px;
    height:100px;
    padding-top: 20px;
    margin-top: 15px;
    margin-left: 100px;
    background-color:rgb(104, 138, 230);
}
.searchtab
{
    padding-top: 10px;
    margin-left: 1000px;
}