.gallery {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
  }

  /* .card{
height: 15em;
width: 100%;
  } */

  .card-image{
    height: 15em;
    margin-right: 20%;
    width: 100%;
    justify-content: center;
  }