@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

footer{
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  color: white;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: whitesmoke;

}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: black;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 4px;
}
.left .content .social a span{
  height: 50px;
  width: 50px;
  background: #1a1a1a;
  color: white;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: lightblue;
}

.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background-color: lightblue;
 
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  margin-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right .content ul li .nav-item{
  color:white;
  text-decoration: none;
  
  }
  
.right .content ul li .nav-item:hover{
color:black;
text-decoration: none;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}