li{
    padding: 10px;
}
/* .navbar-right{
 margin-left: 750px;
} */

.navbar  .nav-item .nav-link{
  color:white;
  font-size: large;
}
  .navbar  .nav-item:hover .nav-link{ color: black;  }
  /* .navbar .nav-item .dropdown-menu{ display: none; } */
  .navbar .nav-item:hover .dropdown-menu{ display: inline-block; }
  .navbar .nav-item .dropdown-menu{ background-color:#007bff;  }
  .navbar .nav-item .dropdown-menu .dropdown-item{ color:white; background-color: #007bff; font-size: large; }
  .navbar .nav-item .dropdown-menu .dropdown-item:hover{ background-color: #007bff;  color:black; }

 