/* .flex-container {
    display: flex;
    margin-left:20px;
    
  }
  
  .flex-child {
    flex: 1;
    margin-right:10px;
    margin-left:10px;
  } */
  @media(min-width:1200px){

    .form-group-a{
      margin-bottom: -20px;
    }
    
  }
  /* @media(min-width:768px) and (max-width:1199px) and (min-width:1200px){
  
    .form-group{
      margin-bottom: -20px;
    }
    
  }
    */
   
    @media(min-width:480px){
  
      .row-a{
        margin-bottom: -20px;
      }
      
    } 
     