/* .stuprofile
{
    margin-top:100px;
    margin-left: 150px;
    border:2px solid black;
    margin-right: 150px;
}
.photo
{
    
    margin-left:200px;
    margin-top: 50px;

}
.updatebutton
{
    margin-top: 50px;
    margin-left: 210px;
} */